python-dateutil~=2.8.2
numpy~=1.26.1
obspy~=1.4.0
pyproj~=3.6.1
pandas~=2.1.2
tensorflow~=2.15.0
sourcespec==1.7
PyYAML~=6.0.1
scipy~=1.11.3
matplotlib~=3.8.4
Cartopy~=0.23.0
pywavelets~=1.6.0
nitime~=0.11
cython~=3.0.11
deprecated~=1.2.15